<!-- cSpell:disable -->
<router-outlet></router-outlet>

<div class="container my-5">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                    Por URL
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <h5 class="fw-bold">Generar componentes</h5>
                    <ol>
                        <li><code>ng g c components/componente-a</code></li>
                        <li><code>ng g c components/componente-b</code></li>
                    </ol>
                    <h5>Llamar componentes core/angular para el enrutamiento desde el decorador con el boton y la importación
                    </h5>
                    <a target="_blank" href="assets/img/enrutamiento-routerLink.png">
                        <img src="assets/img/enrutamiento-routerLink.png" class="w-100 mb-2">
                    </a>
                    <hr>
                    <button class="btn btn-warning fw-bold w-100" routerLink="por-url">Ir al componente</button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Por selector
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <app-por-selector></app-por-selector>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                    Sintaxis nueva IF
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <section class="mb-5">
                        <a href="assets/img/sintaxis-uso-condicionales.png" target="_blank">
                            <img src="assets/img/sintaxis-uso-condicionales.png" class="w-100">
                        </a>
                    </section>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bold h4">Ejemplo</div>
                        <button class="btn btn-primary mb-4 fw-bold" (click)="cambiarBoleano()">Cambiar data
                            boleano</button>
                    </div>
                    <!-- inicio condicion -->
                    @if(soyUnBoleano){
                    <div class="alert alert-success fw-bold text-center h3" role="alert">
                        La variable es verdadera
                    </div>
                    }@else{
                    <div class="alert alert-danger fw-bold text-center h3" role="alert">
                        La variable es falsa
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapse4">
                    Sintaxis nueva FOR
                </button>
            </h2>
            <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <div class="mb-4">
                        <img src="assets/img/sintaxis-uso-forof.png" class="w-100">
                    </div>
                    <hr>
                    <div class="h3 fw-bold text-center">Ejemplo</div>
                    <div class="d-flex flex-wrap justify-content-center align-items-center">
                        @for (pelicula of listaPeliculas; track pelicula.id) {
                        <div class="card m-3" style="width: 20rem;">
                            <img src="{{pelicula.img}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">{{pelicula.nombre}}</h5>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
